.casesPage {
  width: 100%;

  &-head {
    margin-bottom: 55px;

    h2 {
      font-weight: 700;
      font-size: 96px;
      display: inline;
    }
  }

  .swiper-container {
    overflow: unset;

    .swiper-scrollbar {
      bottom: unset;
      top: -100px;
      width: 60%;
      left: unset;
      right: 158px;
      height: 2px;

      .swiper-scrollbar-drag {
        background-color: $black;
      }
    }

    .swiper-pagination {
      width: 60px;
      right: 0;
      left: unset;
      top: -107px;

      span {
        font-weight: 700;
        font-size: 18px;

        &:nth-child(-n+9) {
          &::before {
            content: '0';
          }
        }
      }
    }
  }
}

.casesCard {
  padding-top: 40px;
  padding-bottom: 40px;
  padding: 40px;
  overflow: hidden;
  // border: 1px solid red;
  position: relative;
  max-width: 460px;
  height: 555px;

  &:hover {
    .casesCard {
      &-circle {

        transform: translate(-50%) scale(4);

        // border-radius: 0%;
        transition: 0.4s;
      }

      &-title {
        p {
          color: $white;
          transition: 0.1s;
        }

        h3 {
          color: $white;
          transition: 0.1s;
        }
      }
    }
  }
  &.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1000vh;
    background-color: yellowgreen !important;
    transition: 1s;
  }
  &-circle {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 5;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    background: radial-gradient(100% 100% at 100% 81.67%, #8F95FE 0%, #BFD3FF 100%);
    transition: 0.3s;
  }

  &-descp {
    width: 90%;
    height: 90%;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-images {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &-title {
    p {
      font-weight: 300;
      text-align: center;
      font-size: 14px;
      transition: 0.1s;
    }

    h3 {
      font-weight: 700;
      font-size: 36px;
      text-align: center;
      transition: 0.1s;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  visibility: hidden;
}

@include bigDesctop {
  .casesPage .swiper-container .swiper-scrollbar {
    width: 50%;
  }
}

@include desctop {
  .casesPage .swiper-container .swiper-scrollbar {
    width: 50%;
    right: 85px;
  }
}

@include mobile {
  .casesCard {
    max-width: auto;
    width: 100%;
    height: 490px;
    &-circle {
      width: 300px;
      height: 300px;
    }
  }
  .casesPage {
    &-head {
      // margin-top: 20px;/
      margin-bottom: 30px;
      h2 {
        font-size: 36px;
      }
    }
    .swiper-container{
      .swiper-scrollbar {
        width: 100%;
        left: 0;
        right: unset;
        top: -17px;
      }
      .swiper-pagination {
        display: none;
      }
    } 
  }
}

@include iphone {
  .casesCard {
    height: 410px;
  }
}
