.wrapper-scroll {
  height: 100%;
}

.casesPage {
  width: 100%;
  overflow: hidden;

  &.active {
    overflow: unset;
    height: 100vh;
  }

  &-head {
    margin-bottom: 55px;
    &.active {
      transition: 0.5;
      opacity: 0;
      display: none;
    }

    h2 {
      font-weight: 700;
      font-size: 96px;
      display: inline;
    }
  }

  .swiper-container {
    overflow: unset;
    height: 100%;
    .swiper-scrollbar {
      bottom: unset;
      top: -100px;
      width: 60%;
      left: unset;
      right: 158px;
      height: 4px;

      .swiper-scrollbar-drag {
        background-color: $black;
        z-index: 10;
        position: relative;
      }
    }

    .swiper-pagination {
      width: 75px;
      right: 0;
      left: unset;
      top: -107px;

      span {
        font-weight: 700;
        font-size: 18px;

        &:nth-child(-n + 9) {
          &::before {
            content: "0";
          }
        }
      }
    }
  }
}

.casesCard {
  padding-top: 40px;
  padding-bottom: 40px;
  padding: 40px;
  overflow: hidden;
  // border: 1px solid red;
  position: relative;
  // max-width: 460px;
  transition: 0.5s;
  height: 580px;

  &:hover {
    .casesCard {
      &-circle {
        transform: translate(-50%) scale(3);
        // border-radius: 0%;
        transition: 0.4s;
      }
      &-gif {
        top: 0;
        opacity: 1;
        object-fit: contain;
      }

      &-title {
        p {
          color: $white;
          transition: 0.1s;
        }

        h3 {
          color: $white;
          transition: 0.1s;
        }
      }
    }
  }

  &.active {
    position: absolute;
    
    overflow: unset;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    max-width: unset;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .casesCard-circle {
      transform: scale(14.5);
      transition: 1s;
    }
  }
  &-goImage {
    position: fixed;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    transition: 0.2s;

    img {
      width: 600px;
      transition: 1s;
      margin: auto;
      opacity: 0;
      display: none;
      @include mobile {
        width: 330px;
      }
      &.active {
        display: block;
        opacity: 1;
      }
    }
  }
  &-circle {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: -1;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    background: radial-gradient(
      100% 100% at 100% 81.67%,
      #8f95fe 0%,
      #bfd3ff 100%
    );
    transition: 0.3s;
  }

  &-gif {
    position: absolute;
    width: 100%;
    height: 400px;
    transition: 0.5s;
    top: 100%;
    left: 0;
    opacity: 0;
    object-fit: cover;
  }

  &-images {
    max-width: 380px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: relative;
    &.active {
      position: static;
    }
    img {
      width: 100%;
      transition: 0.5s;
      z-index: 1;
      // position: absolute;
      // left: 50%;
      // top: 50%;
      // transform: translate(-50%, -50%);

      &.active {
        // opacity: 0;
        // transition: 0.5;
        // position: static;
        // position: fixed;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        width: 600px;
        @include mobile {
          width: 330px;
        }
        // transition: 0.5s;
      }
    }
  }

  &-title {
    p {
      font-weight: 300;
      text-align: center;
      font-size: 14px;
      transition: 0.1s;
    }

    h3 {
      font-weight: 700;
      font-size: 36px;
      text-align: center;
      transition: 0.1s;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  visibility: hidden;
}
.swiper-pagination-current {
  position: relative;
  margin-right: 10px;
  &::after {
    content: "-";
    right: -22px;
    position: absolute;
    background-color: white;
    width: 20px;
    height: 30px;
  }
}

@include bigDesctop {
  .casesPage .swiper-container .swiper-scrollbar {
    width: 50%;
  }
}

@include desctop {
  .casesPage .swiper-container .swiper-scrollbar {
    width: 50%;
    right: 85px;
  }
}

@media only screen and (max-height: 812px) and (max-width: 1440px) {
  .casesPage-head {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .casesCard-images {
    max-width: 335px;
  }
  .casesPage .swiper-container .swiper-scrollbar {
    top: -66px;
  }
  .casesPage .swiper-container .swiper-pagination {
    top: -75px;
  }
}

@include tablet {
  .casesCard {
    height: 677px;
    max-width: unset;
    &-title {
      margin-top: 10px;
    }
  }
  .casesPage {
    &-head h2 {
      font-size: 48px;
    }
    .swiper-container {
      .swiper-scrollbar {
        top: -75px;
      }
      .swiper-pagination {
        top: -85px;
      }
    }
  }
}

@include tablet {
  .casesPage-head h2 {
    margin-left: 40px;
  }
  .casesCard {
    &-circle {
      width: 472px;
      height: 472px;
    }
  }
  .casesPage .swiper-container .swiper-scrollbar {
    right: 140px;
  }
  .casesPage .swiper-container .swiper-pagination {
    top: -83px;
    right: 55px;
  }
}

@include mobile {
  .casesPage-head h2 {
    margin-left: 0;
  }
  
  .casesCard {
    max-width: auto;
    width: 100%;
    height: 490px;

    &-circle {
      width: 300px;
      height: 300px;
    }
    &-images {
      max-width: 260px;
      margin-top: 50px;
    }
    &-descp {
      width: 100%;
      height: 100%;
    }
  }

  .casesPage {
    max-height: 490px;
    &-head {
      // margin-top: 20px;/
      margin-bottom: 30px;
      margin-top: 0;

      h2 {
        font-size: 36px;
      }
    }

    .swiper-container {
      .swiper-scrollbar {
        width: 100%;
        left: 0;
        right: unset;
        top: -17px;
      }

      .swiper-pagination {
        display: none;
      }
    }
  }
}

@media only screen and (max-height: 700px) and (max-width: 375px) {
  .casesCard {
    padding: 0;
    height: 430px;
  }
}
@media only screen and (max-width: 425px) and (max-height: 812px) {
  .casesPage {
    max-height: 618px;
  }
}