html,
body,
#app {
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Montserrat, sans-serif;
}

#app {
  background-color: $white;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 0px;
    border-bottom-right-radius: 5px;
  }
}

img {
  vertical-align: top;
}

* {
  box-sizing: border-box;
}

// firefox fix 'shaking font inside button'
input[type="button"],
button {
  padding: 0;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

a {
  text-decoration: none;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5 ease-out;
}

@include mobile {
  .presentation {
    &-buttom {
      p {
        margin-right: 20px;
      }

      &-img {
        width: 39px;
        height: 39px;

        img {
          width: 21px;
          height: 14px;
          object-fit: cover;
        }
      }
    }
  }
}
