.homePage {
  min-height: 100vh;
  //background: linear-gradient(287.56deg, #3B3B3B 0%, #848484 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  height: 100%;

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 10;
    top: 70px;
    h3 {
      letter-spacing: 1px;
    }

    p {
      margin-top: 14px;
      font-size: 18px;
    }

    &::before {
      top: -40px;
      content: "CROUP 44";
      color: rgba($white, 0.06);
      font-size: 90px;
      font-weight: 400;
      position: absolute;
      font-family: "Lato";
    }
  }
}

.slideHome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-gif {
    position: absolute;
    width: 100%;
    height: 400px;
    img {
      object-fit: cover;
    }
  }
  &-description {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    opacity: 1;
    transition: 0.5;
    &.hide {
      transition: 0.5s;
      opacity: 0;
      visibility: hidden;
    }
  }

  &-title {
    text-align: center;
    font-size: 48px;
    opacity: 1;
    transition: 0.5;
    &.hide {
      transition: 0.5s;
      opacity: 0;
      visibility: hidden;
    }
  }

  &-images {
    display: flex;
    justify-content: center;
    width: 530px;
    max-height: 675px;
    margin: auto;
    margin-top: 85px;
    margin-bottom: 0;
    transition: 0.5s;

    img {
      object-fit: cover;
      width: 100%;
      z-index: 1;
      transition: 0.5s;

      &.active {
        // position: fixed;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        width: 600px;
        margin-bottom: 10px;
        // margin: auto;
        // transition: 0.5s;
        @include mobile {
          // width: 330px;
        }
      }
    }

    &.active {
      transition: 0.5s;
    }
  }

  &-progres {
    z-index: 10;
    width: 600px;
    height: 2px;
    margin: auto;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.18);
    // position: relative;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%);

    &-bar {
      background-color: $white;
      position: absolute;
      height: 2px;
      top: 0;
      left: 0;
      width: 0%;
      transition: 0.1s;

      &.active {
        width: 100%;
        transition: 3.1s;
      }
    }
  }
}

.recolorWhite {
  color: #fff !important;
}

.sidebar {
  &-logo {
    z-index: 10;
    position: fixed;
    top: 37px;
    font-weight: 400;
    left: 30px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;

    &.active {
      color: $black;
    }
  }

  &-menu {
    z-index: 10;
    position: fixed;
    top: 40px;
    right: 30px;
    color: #fff;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    cursor: pointer;
    transition: 0.5s;

    &.active {
      .sidebar {
        &-menu {
          &-one {
            background: rgba(0, 0, 0, 0.5);
          }

          &-two {
            background: #000000;
          }

          &-three {
            background: rgba(0, 0, 0, 0.18);
          }
        }
      }
    }

    &:hover {
      transition: 0.5s;

      .sidebar {
        &-menu {
          &-one {
            transition: 0.5s;
            margin-right: 5px;
          }

          &-three {
            transition: 0.5s;
            margin-right: 22px;
          }
        }
      }
    }

    span {
      height: 2px;
      margin-bottom: 12px;
      border-radius: 2px;
      display: block;
    }

    &-one {
      transition: 0.5s;
      width: 44px;
      background-color: rgba(255, 255, 255, 0.5);
    }

    &-two {
      transition: 0.5s;
      width: 69px;
      background-color: #fff;
    }

    &-three {
      transition: 0.5s;
      width: 33px;
      background-color: rgba(255, 255, 255, 0.18);
    }
  }

  &-contact {
    z-index: 10;
    position: fixed;
    left: 30px;
    bottom: 54px;
    display: flex;
    flex-direction: column;

    &-item {
      cursor: pointer;
      margin-top: 16px;
      border-radius: 50%;
      width: 61px;
      height: 61px;
      backdrop-filter: blur(15px);
      background-color: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.15);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 1s;

      &:hover {
        transition: 1s;
        background-color: #fff;
        color: #000;

        // border: 1px solid rgba(255, 255, 255);
        svg {
          path {
            transition: 1s;
            fill: #000;
          }
        }
      }
    }

    &.active {
      color: $black;

      .sidebar-contact-item {
        background: rgba(0, 0, 0, 0.05);
        border: 1px solid rgba(0, 0, 0, 0.15);

        svg {
          path {
            fill: $black;
          }
        }
      }
    }
  }

  &-case {
    position: fixed;

    z-index: 10;
    height: 30px;
    width: 140px;
    transform: rotate(90deg);
    right: -9px;
    bottom: 195px;
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s;
    p {
      font-weight: 400 !important;
    }

    &:hover {
      transition: 0.5s;

      p {
        margin-left: 0;
        transition: 0.5s;
      }

      .sidebar-case-arrow {
        opacity: 1;
        transition: 0.5s;
        right: 0;
      }
    }

    svg {
      transform: rotate(-90deg);
    }

    &.active {
      color: $black;

      .sidebar-case-content {
        .sidebar-case-arrow {
          svg {
            g {
              path {
                fill: #000;
              }
            }
          }
        }
      }
    }

    display: flex;

    p {
      margin: 0;
      font-size: 30px;
      line-height: 30px;
      position: absolute;
      margin-left: 24px;
      transition: 0.5s;
    }

    &-content {
      display: flex;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &-arrow {
      position: absolute;
      right: -25px;
      bottom: 2px;
      opacity: 0;
      transition: 0.5s;
    }
  }

  &-lang {
    position: fixed;
    z-index: 10;
    right: 30px;
    bottom: 56px;
    color: #fff;
    display: flex;
    flex-direction: column;

    .sidebar-contact-item {
      font-weight: 300;
      margin: 0;
      margin-right: 0;
    }

    &.active {
      color: $black;

      &.sidebar-lang .sidebar-contact-item {
        border: 1px solid rgba(0, 0, 0, 0.15);
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }
}

@media only screen and (max-width: 1700px) {
  .slideHome-images {
    width: 460px;
  }
}

@media only screen and (max-width: 1440px) and (max-height: 800px) {
  .slideHome-images {
    width: 420px;
  }
}

@include ipad {
  .slideHome {
    &-progres {
      width: 400px;
    }
  }
}

@media only screen and (max-width: 768) and (max-height: 1024px) {
  .homePage-title {
    top: 90px;
  }
}

@media only screen and (min-height: 1000px) and (max-height: 1367px) {
  .slideHome-images {
    width: 650px;
    margin-bottom: 40px;
    max-height: 740px;
  }
  // .slideHome-images img {
  //   background-color: yellow;
  // }
}

@media only screen and (max-width: 768px) and (max-height: 1024px) {
  .slideHome-images {
    width: 600px;
  }
}

@include ipad-mini {
  .homeDetail {
    &-up {
      &-title {
        top: 110px;
      }
    }
  }
}

@include mobile {
  .sidebar-case {
    display: none;
  }

  .slideHome {
    &-title {
      font-size: 36px;
    }
  }

  .slideHome {
    &-progres {
      width: 90%;
      bottom: 65px;
    }

    &-images {
      max-height: 350px;
      max-width: 300px;
    }
  }

  .homePage {
    &-title {
      h3 {
        text-align: center;
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }

      &::before {
        font-size: 48px;
        top: -30px;
      }
    }
  }

  .sidebar {
    &-logo {
      top: 17px;
      left: 20px;
      font-size: 18px;
    }

    &-menu {
      top: 20px;
      right: 19.5px;

      span {
        height: 1.2px;
        margin-bottom: 7.2px;
      }

      &-one {
        width: 26.4px;
      }

      &-two {
        width: 41.4px;
      }

      &-three {
        width: 19.8px;
      }
    }

    &-contact {
      flex-direction: row-reverse;
      bottom: 10px;
      left: 20px;

      &-item {
        margin-top: 0;
        margin-right: 16.5px;
        width: 42.4px;
        height: 42.4px;
        font-size: 14px;

        svg {
          width: 21.5px;
          height: 18.9px;
        }
      }
    }

    &-lang {
      bottom: 10px;
      right: 20px;
    }
  }

  .homePage-title {
    top: 60px;

    p {
      margin-top: 8px;
    }
  }
}

@media only screen and (max-height: 812px) and (max-width: 576px) {
  .slideHome-images {
    max-height: 419px;
    max-width: 367px;
    margin-top: 0;
  }
}
@media only screen and (max-height: 650px) {
  .slideHome-images {
    max-height: 350px;
    max-width: 300px;
  }
}
@media only screen and (max-width: 375px) and (max-height: 667px) {
  .slideHome-images {
    max-width: 255px;
    // margin-bottom: 0;
  }
}
