.homePage {
  min-height: 100vh;
  //background: linear-gradient(287.56deg, #3B3B3B 0%, #848484 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  height: 100%;

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 10;
    top: 64px;

    p {
      margin-top: 14px;
      font-size: 18px;
    }

    &::before {
      top: -40px;
      content: 'CROUP 44';
      color: rgba($white, 0.06);
      font-size: 90px;
      font-weight: 400;
      position: absolute;
      font-family: 'Lato';
    }
  }
}

.slideHome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-description {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
  }

  &-title {
    text-align: center;
    font-size: 48px;
  }

  &-images {
    display: flex;
    justify-content: center;
    max-width: 530px;
    max-height: 675px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  &-progres {
    z-index: 10;
    width: 600px;
    height: 2px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.18);
    // position: relative;
    position: absolute;
    left: 50%;
    bottom: 54px;
    transform: translate(-50%);

    &-bar {
      background-color: $white;
      position: absolute;
      height: 2px;
      top: 0;
      left: 0;
      width: 0%;
      transition: .1s;

      &.active {
        width: 100%;
        transition: 4s;
      }
    }
  }
}
