.services {
  &-blok {
    &-active {
      border: 1px solid #8B90FE !important;
      transition: .5s;
    }
  }
}

.submitPage {
  display: flex;
  height: 100vh;
  overflow: hidden;

  &-footer {
    margin-top: 120px;

    &-content {
      display: flex;
      justify-content: space-between;

      .item {
        display: flex;
        justify-content: space-between;

        p {
          &:first-child {
            margin-right: 20px;
          }
        }

        p {
          margin: 0;

          a {
            color: #1c8eea;
          }
        }
      }
    }
  }

  &-right {
    width: 17.5%;
    height: 100%;
    background: linear-gradient(180deg, #D0A3FD 0%, #8A8FFD 100%);
    -webkit-animation: backgroundG 3s ease-in-out infinite;
    animation: backgroundG 3s ease-in-out infinite;
    transition: .5s;
    position: relative;

    .menuPage-left-back {
      right: unset;
      left: -40px;
      transform: rotate(-0deg);
      cursor: pointer;

    }

    &:hover {
      .menuPage-left-back {
        left: 20px;
        transform: rotate(-180deg);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-left {
    overflow-y: scroll;
    width: 82.5%;
    height: 100%;
    padding: 149px 150px 30px 188px;

    &::-webkit-scrollbar {
      width: 0px;
      border-bottom-right-radius: 5px;
    }

    &-body {

      // overflow-y: scroll;
      .title {
        font-weight: 700;
        font-size: 72px;
        margin-bottom: 70px;
      }

      .block {
        &-choose {
          margin-top: 55px;

          &-title {
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 20px;
          }

          &-card {
            margin-bottom: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            border: 1px solid #EDEDED;
            height: 80px;
            cursor: pointer;
            transition: .5s;

            p {
              font-weight: 300;
              font-size: 14px;
              margin: 0;
              padding: 0;
            }

            &.big {
              padding-left: 47px;
              justify-content: flex-start;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.choose {
  &-textarea {
    padding-top: 31px;
    padding-right: 20px;
  }
}

.submit {
  &-cheack {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    cursor: pointer;

    label {
      font-size: 14px;
      line-height: 22.74px;
      max-width: 190px;
      margin-left: 15px;
      cursor: pointer;
    }

    input[type="checkbox"] {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .5s;
      appearance: none;
      border: 1px solid #EDEDED;
      padding: 10px;
      background-size: 35% 35%;
      background-position: center;
      background-repeat: no-repeat;
    }

    input[type="checkbox"]:checked {
      transition: .5s;
      background-image: url("./assets/images/submit/cheack.png");
      background-size: 35% 35%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
.presentation-button {
  background-color: unset;
  border: unset;
}
@include bigDesctop {
  .submitPage {
    &-footer {
      &-content {
        flex-direction: column;

        .item {
          margin-top: 20px;
        }
      }
    }
  }
}

@include desctop {
  .submitPage {
    &-left {
      padding-left: 150px;
      padding-right: 260px;
    }
  }
  .presentation-buttom-wrapper {
    margin-top: 30px;
  }
}

@include tablet {
  .goWhiteSub {
    color: #fff;
  }

  .submitPage {
    &-left {
      padding-left: 120px;

      &-body {
        .title {
          font-size: 48px;
        }
      }
    }

    &-right {
      .menuPage-left-back {
        left: unset;
        right: 20px;
        transform: rotate(-90deg);
      }

      &:hover {
        .menuPage-left-back {
          left: unset;
          transform: rotate(90deg);
          bottom: 10px;
        }
      }
    }

    &-footer {
      &-content {
        flex-direction: column;

        .item {
          margin-top: 20px;
        }
      }
    }
  }

}

@include ipad {
  .submitPage {
    flex-direction: column;

    &-right {
      order: 0;
      height: 162px;
      width: 100%;
    }

    &-left {
      width: 100%;
      order: 1;
      padding: 35px 104px 20px 104px;

      &-body {
        .title {
          margin-bottom: 29px;
        }

        .block {
          &-choose {
            &-title {
              font-size: 18px;
            }
          }
        }

      }
    }
  }

  .goWhiteSub {
    color: #fff;

    .sidebar-logo {
      color: #fff;
    }
  }

  .goBlackSub {
    color: #000;

    .sidebar-contact-item {
      background: rgba(0, 0, 0, 0.05);
      border: 1px solid rgba(0, 0, 0, 0.15);
    }
  }
}

@include mobile {
  .choose {
    &-textarea {
      height: 200px;
    }
  }

  .submitPage {
    &-left {
      padding: 20px;
    }

    &-footer {
      margin-bottom: 100px;
      margin-top: 100px;

      &-content {
        flex-direction: column;

        .item {
          display: flex;
          flex-direction: column;
          margin-top: 20px;

          p {
            margin-bottom: 5px;
            font-size: 10px;
          }
        }
      }
    }
  }

  .submitPage-right .menuPage-left-back {
    left: unset;
    transform: rotate(270deg);
    bottom: 10px;
    opacity: 1;
    visibility: visible;
  }

  .submitPage-left-body .title {
    font-size: 36px;
  }

  .choose {
    &-textarea {
      height: 200px !important;
    }
  }
}

.services {
  &-blok {
    &-active {
      border: 1px solid #8B90FE;
      transition: .5s;
    }
  }
}

.stonks {
  &-blok {
    &-active {
      border: 1px solid #8B90FE !important;
      transition: .5s;
    }
  }
}
