.submitPage {
  display: flex;
  height: 100vh;
  overflow: hidden;

  &-footer {
    margin-top: 120px;

    &-content {
      display: flex;
      justify-content: space-between;

      .item {
        display: flex;
        justify-content: space-between;

        p {
          &:first-child {
            margin-right: 50px;
          }
        }

        p {
          margin: 0;

          a {
            color: #1c8eea;
          }
        }
      }
    }
  }

  &-right {
    width: 17.5%;
    height: 100%;
    background: linear-gradient(180deg, #d0a3fd 0%, #8a8ffd 100%);
    -webkit-animation: backgroundG 3s ease-in-out infinite;
    animation: backgroundG 3s ease-in-out infinite;
    transition: 0.5s;
    position: relative;

    .menuPage-left-back {
      right: unset;
      left: -40px;
      transform: rotate(-0deg);
      cursor: pointer;
    }

    &:hover {
      .menuPage-left-back {
        left: 20px;
        transform: rotate(-180deg);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-left {
    overflow-y: scroll;
    width: 82.5%;
    height: 100%;
    padding: 149px 150px 30px 188px;

    &::-webkit-scrollbar {
      width: 0px;
      border-bottom-right-radius: 5px;
    }

    &-body {
      // overflow-y: scroll;
      .title {
        font-weight: 700;
        font-size: 72px;
        margin-bottom: 90px;
      }

      .block {
        &-choose {
          margin-top: 44px;

          &-title {
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 36px;
          }

          &-card {
            margin-bottom: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ffffff;
            border: 1px solid #ededed;
            height: 80px;
            cursor: pointer;
            transition: 0.5s;
            img {
              transition: 0.5s;
              width: 0;
              height: 0;
              margin: 0;
              opacity: 0;
            }
            p {
              font-weight: 300;
              font-size: 14px;
              margin: 0;
              padding: 0;
            }

            &.big {
              padding-left: 47px;
              justify-content: flex-start;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.choose {
  &-textarea {
    height: 80px;
    // padding-top: 31px;
    padding-right: 20px;
  }
}

.submit {
  &-cheack {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    cursor: pointer;
    position: relative;
    .error {
      position: absolute;
      top: 9px;
      left: 45px;
    }
    label {
      font-size: 14px;
      line-height: 22.74px;
      max-width: 190px;
      margin-left: 15px;
      cursor: pointer;
    }

    input[type="checkbox"] {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      appearance: none;
      border: 1px solid #ededed;
      padding: 10px;
      background-size: 35% 35%;
      background-position: center;
      background-repeat: no-repeat;
    }

    input[type="checkbox"]:checked {
      transition: 0.5s;
      background-image: url("./assets/images/submit/cheack.png");
      background-size: 35% 35%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
.presentation-button {
  background-color: unset;
  border: unset;
}
.sell {
  &-btn {
    &.disabled {
      pointer-events: none;
      filter: grayscale(0.5);
    }
  }
}
.error {
  display: block;
  margin-top: -9px;
  color: #ff6161;
  font-size: 11px;
  font-weight: 300;
  &-text {
    display: inline;
    margin-left: 30px;
    svg {
      margin-right: 12px;
      margin-bottom: 5px;
    }
  }
}

.btnNotKnow {
  width: 100%;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0 !important; 
  &::-webkit-file-upload-button {
    visibility: hidden;
    width: 0;
    height: 0;
    // display: none;
  }
  &::before {
    content: "Прикрепить файл";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.services {
  &-blok {
    &-active {
      border: 1px solid #8b90fe !important;
      transition: 0.5s;
      img {
        width: 20px !important;
        height: 20px !important;
        margin-right: 16px !important;
        opacity: 1 !important;
      }
    }
  }
}

.stonks {
  &-blok {
    &-active {
      img {
        width: 20px !important;
        height: 20px !important;
        margin-right: 16px !important;
        opacity: 1 !important;
      }
    }
  }
}

.file {
  &-wrapper {
    position: relative;
  }
  &-list {
    position: absolute;
    // background-color: #fff;
    // padding: 10px;
    // margin: 10px;
    // margin-left: 10px;
    // margin-right: 10px;
    width: 100%;
    height: 100%;
    top: 0;
    // left: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ededed;
  }
}

@include bigDesctop {
  .submitPage {
    &-footer {
      &-content {
        flex-direction: column;

        .item {
          margin-top: 20px;
        }
      }
    }
  }
}

@include desctop {
  .submitPage {
    &-left {
      padding-left: 150px;
      padding-right: 220px;
      &-body {
        .title {
          margin-bottom: 72px;
        }
      }
    }
  }
  .presentation-buttom-wrapper {
    margin-top: 30px;
  }
}

@include tablet {
  .goWhiteSub {
    color: #fff;
  }

  .submitPage {
    &-left {
      padding-left: 120px;

      &-body {
        .title {
          font-size: 48px;
        }
      }
    }

    &-right {
      .menuPage-left-back {
        top: 48%;
        bottom: unset;
        // left: unset;
        // right: 20px;
        // transform: rotate(-90deg);
      }
    }

    &-footer {
      margin-top: 80px;
      &-content {
        flex-direction: column;

        .item {
          margin-top: 20px;
          p {
            font-size: 10px;
          }
        }
      }
    }
  }
}

@include ipad {
  .submitPage {
    flex-direction: column;

    &-right {
      order: 0;
      height: 162px;
      width: 100%;
    }
    &-footer {
      margin-top: 80px;
    }
    &-left {
      width: 100%;
      order: 1;
      padding: 35px 104px 20px 104px;

      &-body {
        .title {
          margin-bottom: 29px;
        }

        .block {
          &-choose {
            &-title {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .goWhiteSub {
    color: #fff;

    .sidebar-logo {
      color: #fff;
    }
  }

  .goBlackSub {
    color: #000;

    .sidebar-contact-item {
      background: rgba(0, 0, 0, 0.05);
      border: 1px solid rgba(0, 0, 0, 0.15);
    }
  }
}

@include ipad-mini {
  .submitPage {
    &-right {
      height: 193px;
      &:hover {
        .menuPage {
          &-left {
            &-back {
              left: unset;
              bottom: -34px;
              right: -4px;
              transform: rotate(-90deg);
            }
          }
        }
      }
      .menuPage {
        &-left {
          &-back {
            left: unset;
            bottom: -34px;
            right: -4px;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}

@include mobile {
  .choose {
    &-textarea {
      height: 200px;
    }
  }

  .submitPage {
    &-right {
      height: 216px;
      .menuPage {
        &-left {
          &-back {
            top: unset;
          }
        }
      }
    }
    &-left {
      padding: 20px;
    }

    &-footer {
      margin-bottom: 100px;
      margin-top: 100px;

      &-content {
        flex-direction: column;

        .item {
          display: flex;
          flex-direction: column;
          margin-top: 20px;

          p {
            margin-bottom: 5px;
            font-size: 10px;
          }
        }
      }
    }
  }

  .submitPage-right .menuPage-left-back {
    left: unset;
    transform: rotate(270deg);
    bottom: 10px;
    right: 15px;
    opacity: 1;
    visibility: visible;
  }
  .submitPage-right:hover .menuPage-left-back {
    left: unset;
    transform: rotate(270deg);
    bottom: 10px;
    right: 15px;
    opacity: 1;
    visibility: visible;
  }

  .submitPage-left-body .title {
    font-size: 36px;
  }

  .choose {
    &-textarea {
      height: 200px !important;
    }
  }
}

.services {
  &-blok {
    &-active {
      border: 1px solid #8b90fe;
      transition: 0.5s;
    }
  }
}

.stonks {
  &-blok {
    &-active {
      border: 1px solid #8b90fe !important;
      transition: 0.5s;
    }
  }
}
.file {
  &-list {
    p {
      padding-right: 20px;
      margin-bottom: 5px;
      position: relative;
      img {
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
        height: 10px;
        cursor: pointer;
      }
    }
  }
}
